<!-- background color -->
<div class="background">
    <h1 id="update_info">EDIT ACCOUT!</h1>
    <div id="edit_user">
        <%= render 'form', user: @user %>  
    </div>
    <nav id="edit_nav">
        <div id="edit_links">
            <%= link_to 'Log Out', '/', {method: :get, class: 'link'}%>
            <%= link_to 'Profile', @user, {class: 'link'}%>
        </div>
    </nav>
</div>
