<div class="index">
    <h1 id="app_name">SPRIVIA</h1>
    <nav id="nav_menu">
        <ul>
            <li><a href="/users/new?">REGISTER</a></li>
            <li><a href="/sessions/new">LOGIN</a></li>
        </ul>
    </nav>
</div>



<!-- prior button link to create user, unsure if going to use -->
<!-- <%= button_to 'Create Profile', new_user_path, {id:"user_btn", method: :get} %> -->
