<div class="background">
    <h1 id="create">CREATE AN ACCOUNT!</h1>
    <br>
    <nav id="nav_menu_new">
        <ul id="new_user_1">
            <li class="sessions"><a href="/users">HOME</a></li>
        </ul>
    </nav>
    <div id="create_user">
        <%= render 'form', user: @user %>
    </div>
</div>

