<div class="background">
    <h1 id="create">CREATE AN ACCOUNT!</h1>
    <br>
    <nav id="nav_menu_new">
        <ul id="new_user_1">
            <li class="sessions"><a href="/users">HOME</a></li>
        </ul>
    </nav>
    <div id="parent_create_user">
        <div id="create_user">
            <%= render 'form', user: @user %>
        </div>
    </div>
    <div id="parent_image_div">
        <div id="image_div">
            <img id="hockey" src="/images/hockey.png">
            <img id="basketball" src="/images/basketball.png">
            <img id="woman" src="/images/woman.png">
        </div>
    </div>
</div>

