<body>
    <div class="background">
        <h1 id="title"><%= "SPRIVIA" %></h1>
        
            <div id="question_canvas">
                <div id="flex_container">
                    <h1 class="questions">Start the Game!</h1>
                </div> 
                <br>
                <div id="flex_container2">
                    <form class="answerSelections">
                        <!-- answer options will appear -->
                    </form>
                </div>
                <span class="correct_score">Correct: 0</span>
                <span class="incorrect_score">Incorrect: 0</span>
            </div>
            
        <nav id="triv_game_nav">
            <div id="sprivia_game">
                <%= link_to 'Log Out', '/', {method: :get, class: 'link'}%>
                <%= link_to 'Profile', @user, {class: 'link'}%>
                <button id="start_game" class="link" onClick="nextQestion()">Next Question</button>
            </div>
        </nav>
    </div>
</body>
