<body>
    <div class="background">
        <h1><%= "SPRIVIA" %></h1>
            <div id="question_canvas">
                <div id="flex_container">
                    <h1 class="questions">Start the Game!</h1>
                </div> 
                <br>
                <div id="flex_container2">
                    <form class="answerSelections">
                        <!-- answer options will appear -->
                    </form>
                </div>
            </div>
        
        <nav id="triv_game_nav">
            <div id="sprivia_game">
                <%= link_to 'Log Out', '/', {method: :get, class: 'link'}%>
                <%= link_to 'Profile', @user, {class: 'link'}%>
            </div>
        </nav>
        <button id="start_game" onClick="nextQestion()">
            <h3>Next Question</h3>   
        </button>
    </div>
</body>
