<div id="all_posts">
    <% @posts.reverse.each do |post| %>
    <%= link_to(post.entry, post) %>
    <p>Created By <%= post.user_id %></p> <!-- Cannot get post.user.name to work-->
    <% end %>
</div>