<%= form_for @post do |f| %>
    <p>
        <%= f.label :entry %>
        <%= f.text_area :entry, placeholder: "Enter Text...", class: "text-area" %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>