<body id="background">
    <div id="posts_edit_page">
        <div id="canvas_div">
            <div id="post_edit_parent">
                <h1 id="edit_post_title">UPDATE YOUR POST!</h1>    
                <%= render "post_form"%>
            </div>
        </div>
    </div>
</body>