<body id="background">
    <div>
        <%= link_to "All Posts", posts_path, {class: 'post_link'} %>
    </div>
    <div id="post_new_page">
        <div id="canvas_div">
            <div id="post_form_parent">
                <h1 id="post_title">POST YOUR THOUGHTS!</h1>
                <%= render "post_form", {class: 'text_box'}%>
            </div>
        </div>
    </div>
</body>


