<body id="post_new_page">
    <div id="post_form_parent">
        <p>Post Your Thoughts!</p>
        <%= render "post_form", {class: 'text_box'}%>
    </div>
    <%= link_to("Profile", users_path, {class: 'link'})%>
</body>

