// comments page (/comments/new.html.erb)

#comment_body_div {
    background: #048090;
}

label[for="comment_body"] {
    font-weight: bolder;
}

.new_comment {
    
    textarea {
        width: 500px;
        height: 75px;
        font-family: 'Luckiest Guy', cursive;
        font-size: 20px;
        background: #F75C03;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
}