/* /posts/show.html.erb */

#post_show_page {
    background: #048090;
    height: 100%;
}

#post_nav {
    top: 45%;
    position: fixed;  
}

#post_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 153px;
}

/* /posts/new.html.erb */

#new_post {
    vertical-align: middle;
}

#post_new_page {
    background: #048090;
    height: 100%;
}


form p {
    text-align: center;
}

#post_form_parent {
    height: 100vh;
}

textarea {
    background: #F75C03;
}

/* /posts/index.html.erb */

#posts {
    background: #048090;
    height: 100%;
}

