/* /posts/show.html.erb */

#comment_div{
    border: 12px ridge lightslategrey;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    width: 700px;
    word-wrap: break-word;

    h3 {
        font-family: 'Luckiest Guy', cursive;
        margin-top: 5px;
    }

    h4 {
        color:#F75C03;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

#post_border_box {
    border: 12px ridge lightslategrey;
    background-color: aquamarine;
    margin: auto;
    width: 700px;
    word-wrap: break-word;

    span {
        margin-top: 5px;
    }
}

#post_show_body {
    background: #048090;
    height: 100vh;
}

#post_show_div_parent {
    margin-top: 10px;
    text-align: center;

    h3 {
        font-family: 'Luckiest Guy', cursive;
    }

    h4 {
        color:#F75C03;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

#post_nav {
    top: 40%;
}

#post_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 153px;
}

/* /posts/new.html.erb */

#background {
    background: #048090;
}

#canvas_div {
    align-items: center;
    background-color: rgba(0,168,150,0.8);
    border-right: 10px double black;
    border-left: 10px double black;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 10px #00ff00 inset;
    display: flex;
    height: 400px;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 700px;
}

form p {
    text-align: center;
}

#post_title {
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px #00ff00;
}
        // create post button
p input[type="submit"] {
    background: rgba(0,168,150,0.8);
    border: 1px dotted #F75C03;
    border-radius: 25px;
    color: #000;
    font-family: inherit;
    font-size: 100%;
    outline: none;
    padding: 8px 16px;
    text-transform: uppercase; 
}

p input[type="submit"]:hover {
    background-color: #F75C03;
    color: white;
    border-radius: 25px;
    transition: .5s;
}

        // create post button end

label[for="post_entry"] {
    display: none;
}

.post_link {
    color: #000;
    display: block;
    padding: 8px 16px;
    position: fixed;
    text-decoration: none;
    text-transform: uppercase;
    top: 45%;
}

.post_link:hover {
    background-color: #F75C03;
    color: white;
    border-radius: 25px;
}

#new_post {
    vertical-align: middle;

    #post_entry {
        background: #F75C03;
        border: 3px solid #cccccc;
        font-family: 'Luckiest Guy', cursive;
        font-size: 20px;
        height: 75px;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        width: 500px;
        outline: none;
    }

    #post_entry:hover {
        background: lightsalmon;
        border: 3px solid #cccccc;
        transition: background-color .8s;
        transition: border-color .8s;
    }

    #post_entry:focus {
        background: gray;
        border: 3px solid black;
    }
}

#post_new_page {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;   
}

#post_form_parent {
    height: 200px;
}

/* /posts/index.html.erb */

#blog_posts_container {
    width: 700px;
}

#blog_posts {

    img[src="/images/post-img.png"] {
        border-radius: 40%;
        box-shadow: 3px 4px 10px darkslategrey;
    }

    img[src="/images/post-img.png"]:hover {
        animation: wiggle 1s ease;
        animation-iteration-count: 1;
        
        @keyframes wiggle {
            20%  { transform: translateX(4px);  }
            40%  { transform: translateX(-4px); }
            60%  { transform: translateX(2px);  }
            80%  { transform: translateX(-1px); }
            100% { transform: translateX(0);    }
        }


    }
}

#click_to_add_comment {
    font-family: sans-serif;
    text-align: center;
}

#create_post_heading {
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px #00ff00;
}

#parent_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#posts {
    background: #048090;
}

#link_to_menu {
    width: 110px;
    top: 40%;
    position: fixed;
}

#posts_index {

    li {
        list-style: none;
    }

    [class="all_posts"] {
        border: 12px ridge lightslategrey;
        background-color: aquamarine;
        margin-bottom: 10px;
        word-wrap: break-word;

        h3 {
            font-family: 'Luckiest Guy', cursive;
            margin: 5px;
            margin-top: 5px;
        }
    
        h4 {
            color:#F75C03;
            font-family: 'Luckiest Guy', cursive;
            margin: 5px;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

            a:link {
                color: #F012BE;
            }

            a:visited {
                color: #2ECC40;
            }
        }
    }
}

/* /posts/edit.html.erb */

#background {
    background: #048090;
}

#canvas_div {
    align-items: center;
    background-color: rgba(0,168,150,0.8);
    border-right: 10px double black;
    border-left: 10px double black;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 10px #00ff00 inset;
    display: flex;
    height: 400px;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 700px;
}

.edit_post {

    #post_entry {
        background: #F75C03;
        border: 3px solid #cccccc;
        font-family: 'Luckiest Guy', cursive;
        font-size: 20px;
        height: 75px;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        width: 500px;
        outline: none;
    }

    #post_entry:hover {
        background: lightsalmon;
        border: 3px solid #cccccc;
        transition: background-color .8s;
        transition: border-color .8s;
    }

    #post_entry:focus {
        background: gray;
        border: 3px solid black;
    }
}

#edit_post_title {
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px #00ff00; 
}

#posts_edit_page {
    align-items: center;
    background: #048090;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

#post_edit_parent {
    height: 200px;
}



