/* /posts/show.html.erb */

#comment_div{
    text-align: center;

    h3 {
        font-family: 'Luckiest Guy', cursive;
        margin-top: 5px;
    }

    h4 {
        color:#F75C03;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    p {
        border: 1px ridge black;
        margin-top: 5px;
        margin-right: 15%;
        margin-left: 15%;
    }
}

#post_show_body {
    background: #048090;
    height: 100vh;
}

#post_show_div {
    text-align: center;

    h3 {
        font-family: 'Luckiest Guy', cursive;
    }

    h4 {
        color:#F75C03;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

#post_nav {
    top: 45%;
    position: fixed;  
}

#post_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 153px;
}

/* /posts/new.html.erb */

#new_post {
    vertical-align: middle;

    textarea {
        width: 500px;
        height: 75px;
        font-family: 'Luckiest Guy', cursive;
        font-size: 20px;
        background: #F75C03;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
}

#post_new_page {
    background: #048090;
    height: 100%;
}


form p {
    text-align: center;
}

#post_form_parent {
    height: 100vh;
}

.edit_post {

    textarea {
        width: 500px;
        height: 75px;
        font-family: 'Luckiest Guy', cursive;
        font-size: 20px;
        background: #F75C03;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
}

/* /posts/index.html.erb */

#posts {
    background: #048090;
    height: 100%;
}

#blog-posts {

    
}

/* /posts/edit.html.erb */

#posts_edit_div {
    background: #048090;
}

