// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Nav menu users views

#background_sessions {
    background-color: #048090;
    display: flex;
    height: 100vh;
    width: 100%;
}

#create_acct {
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px #00ff00;
}

#group_login {
    margin: auto;
}


#login {
    text-align: center;

    input[type="submit"] {
        background: rgba(0,168,150,0.8);
        border-radius: 25px;
        border: 1px dotted #F75C03; 
        color: #000;
        font-family: inherit;
        font-size: 100%;
        outline: none;
        padding: 3px 16px;
        text-transform: uppercase; 
        transition: .5s;
    }

    input[type="submit"]:hover {
        background-color: #F75C03;
        border-radius: 25px;
        color: white;
    }

    input[type=text], input[type=password] {
        border: 2px solid #F75C03;
        border-radius: 15px;
        background-color: #C4E7D4;
        font-family: sans-serif;
        font-size: medium;
        height: 22px;
        text-align: center;
    }

    label[for=email], label[for=password] {
        font-family: sans-serif;
    }
}

#login_canvas {
    background-color: rgba(0,168,150,0.8);
    border-right: 10px double black;
    border-left: 10px double black;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 10px #00ff00 inset;
    display: flex;
    height: 400px;
    margin: auto;
    text-align: center;
    width: 700px;
}

#nav_menu_sess {
    // position: fixed;
    top: 50%;
}


#sess_login {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 110px;
    
}

#sess_login:hover {
    background-color: #048090;
}

.sessions_new a {
    color: #000;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.sessions_new a:hover {
    background-color: #F75C03;
    border-radius: 25px;
    color: white;
}
