// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// eliminates all differences in padding and margin across browsers
*{
margin: 0;
padding: 0;
}
 
// User home page (index.html)
.index {
    background-image: url('/images/sports2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-color: #048090;
}


// Nav menu users views

.background {
    background-color: #048090;
    width: 100%;
    height: 100vh;
}

nav {
    top: 40%;
    position: fixed;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 110px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul:hover {
    background-color: #048090;
}

li:hover {
    border: none;
}

li a:hover {
    background-color: #F75C03;
    color: white;
    border-radius: 25px;
}

// create user page (/users/new.html.erb)

#image_div {
    margin: auto;
}

#parent_image_div {
    display: flex;
    margin-top: 10%;
}

#create_user {
    text-align: center;
}

#create {
    text-shadow: 1px 2px 2px #C4E7D4;
    text-align: center;
}

.field {
    border: 2px solid #F75C03;
    border-radius: 15px;
    background-color: #C4E7D4;
    text-align: center;
    height: 15px;
    font-size: medium;
}

.label {
    font-family: sans-serif;
}

#nav_menu_new {
    top: 45%;
    position: fixed;
}


#new_user_1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 110px;
    // background-color: #f1f1f1;
}

#parent_create_user {
    margin-top: 5%;
}

.sessions a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#new_user_1:hover {
    background-color: #048090;
}

.sessions a:hover {
    background-color: #F75C03;
    color: white;
    border-radius: 25px;
}


// Sprivia page (/users/sprivia.html.erb)

button {
    background-color: yellow;
    border-radius: 10%;
}


#flex_container {
    text-align: center;
}

#flex_container2 {
    text-align: left;
    margin-top: 10%;
    margin-left: 35%;
}

#triv_game_nav {
    top: 45%;
    position: fixed;
}


#sprivia_game {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 110px;
}

.link {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#question_canvas {
    height: 400px;
    width: 700px;
    background-color: rgb(255, 255, 0);
    opacity: .5;
    margin-left: 25%;
    margin-top: 15%;
    border-radius: 15px;
    border: 10px double black;
}

#sprivia_game:hover {
    background-color: #048090;
}

.link:hover {
    background-color: #F75C03;
    color: white;
    border-radius: 25px;
}

#start_game {
    position: relative;
    z-index: 3;
}

#title {
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
}


// Profile page (/users/show.html.erb)

#profile_nav {
    top: 45%;
    position: fixed;
}


#profile_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 110px;
}

.link {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#profile_menu:hover {
    background-color: #048090;
}

.link:hover {
    background-color: #F75C03;
    color: white;
    border-radius: 25px;
}

// Edit page (/users/edit.html.erb)

#edit_user {
    text-align: center;
    margin-top: 5%;
}

#edit_nav {
    top: 45%;
    position: fixed;
}


#edit_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 110px;
}

.link {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#edit_links:hover {
    background-color: #048090;
}

.link:hover {
    background-color: #F75C03;
    color: white;
    border-radius: 25px;
}

#parent_anchor_man {
    display: flex;
}

#anchor_man {
    margin: auto;
    margin-top: 15%;
    height: 350px;
    width: 500px;
}

#update_info {
    text-align: center;
}


